.spanData{
    color: black;
}
.noradius{
    border-radius: 0px !important;
}
.overflowSingle{
    overflow-x: auto;
    height: 300px !important;
    width: 100%;
}
.wid{
 
    height: 390px !important;
    width: 100%;
}