

.overflowSingleOrder{
      overflow-x: auto;
      height: 352px !important;
      width: 100%;
}
.titleFontSingleOrder{
  font-size: 22px;
}
.ovflow{
  overflow-x: auto;
  height: 340px !important;
  width: 100%;
}
.fotns{
  font-size: 10px;
  
}
.font20{
  font-size: 20px;
}
.sizemenos15{
  margin-top: -15px;
}
.point{
  cursor: pointer;
}

.borderbot:hover{
  text-decoration-line: underline ;
}

.textchiquito{
  font-size: 11px !important;
}
.singleorder{
  height: 670px !important;
}
.tl{
  margin-left: -15px !important;
}




@media only screen and (max-width: 990px) {
  .ovflow{
   
    height: 280px !important;
   
  }

  .singleorder{
    height: 700px !important;
  }
}

@media only screen and (max-width: 600px) {


  .singleorder{
    height: 750px !important;
  }
}


@media only screen and (max-width: 400px) {


  .singleorder{
    height: 780px !important;
  }
}


@media only screen and (max-width: 300px) {


  .singleorder{
    height: 820px !important;
  }
}


@media only screen and (max-width: 260px) {


  .singleorder{
    height: 870px !important;
  }
}