.overflowSingleOrder{
      overflow-x: auto;
      height: 352px !important;
      width: 100%;
}
.titleFontSingleOrder{
  font-size: 22px;
}
.ovflow{
  overflow-x: auto;
  height: 300px !important;
  width: 100%;
}
.fotns{
  font-size: 10px;
  
}
.sizemenos15{
  margin-top: -15px;
}
.point{
  cursor: pointer;
}
.textchiquito{
  font-size: 11px !important;
}
.singleorder{
  height: 625px !important;
}
.tl{
  margin-left: -15px !important;
}