.overflowSingleOrder{
      overflow-x: auto;
      height: 352px !important;
      width: 100%;
}
.titleFontSingleOrder{
  font-size: 22px;
}
.ovflow{
  overflow-x: auto;
  height: 200px !important;
  width: 100%;
}
.fotns{
  font-size: 13px;
  
}
.sizemenos15{
  margin-top: -15px;
}