.contenedor{
    text-align: center;
   
    padding: 30px;
}
.rig{
    border-radius: 5px 0px 0px 5px !important;
}
.lef{

    border-radius: 0px 5px 5px 0px !important;
}
.mgtop{
    margin-top: 10px;
}
.stylecenter{
    justify-content: center !important;
    text-align: center !important;
}
.listState{
    cursor: pointer;
    color: black !important;
}
.hover{
    cursor: pointer;
}

.op50{
    opacity: 0.6;
  }
  
  .btn-editar,.btn-close, .btn-check{
    scale: 1.3 !important;
    transition: 0.2s !important;
    border: 0px  !important;


  }
  .btn-editar,.btn-close{
    font-size: 23px !important;
  }
  .btn-check{
    font-size: 25px !important;
  }
 
  .btn-close:hover,.btn-editar:hover,.btn-check:hover{
    text-shadow: darkslategray !important;
    scale: 1.0 !important;
    transition: 0.2s;
   
   
  }

  .borderButtonGreen,  .borderButtonRed,   .borderButtonWarning{
    transition: 0.2s;
    border-radius: 5px;
  }
   .borderButtonGreen:hover, .borderButtonRed:hover,.borderButtonWarning:hover{
  transition: 0.2s;
}

  .borderButtonGreen:hover,.borderButtonGreen:focus{
    box-shadow: inset 0 0 0 2px lightseagreen !important;
  }

  
  .borderButtonRed:hover,  .borderButtonRed:focus{
    box-shadow: inset 0 0 0 2px lightcoral !important;
  }


  .borderButtonWarning:hover,  .borderButtonWarning:focus{
    box-shadow: inset 0 0 0 2px lightgoldenrodyellow !important;
  }

.noBorderBut{
  border-bottom: 0px !important;
}
.altoTotal{
  height: 690px !important;
}